.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.hero img{
    margin: 10p;
    width: 400px;
}
.hero h1{
    text-align: center;
    width: 90%;
    font-size: 100px;
    font-weight: 900;
}
.hero h1 span{
    background: linear-gradient(270deg, #0ef 10%, #1576ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.hero p{
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 25px;
}
.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(270deg, #0ef -5.09%, #1576ff 106.28%);
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hero-resume:hover{
    border-color: #1576ff;
}
@media(max-width:760px){
    .hero{
        display: flex;
        align-items: center;
        flex-direction: column;
       
        
    }
    .hero img{
        margin-top: 30px;
        width: 300px;
     
    }
    .hero h1{
        width: 80%;
        font-size: 30px;
    }
    .hero P{
        text-align: left;
        width: 70%;
        font-size: 16px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 15px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-connect {
        padding: 10px 10px;
        border-radius: 50px;
       
    
    }
    
    
    .hero-resume{
        padding: 8px 10px;
        border-radius: 50px;
        
    }
    
}