.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0px 0px;
}
.contact-title{
    position: relative;
    cursor: default;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 80px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
}
.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #1576ff 50%, #0ef 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
   
}
.contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 650px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-size: 20px;
}
.contact-right textarea{
    width: 630px;
    height: 100px;
    border: none;
    padding: 20px;
    border-radius: 4px;
    background: #323232;
    color: #A0A0A0;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background:linear-gradient(270deg, #1576ff 50%, #0ef 100%);
    font-size: 22px;
    padding: 20px 60px;
    
    cursor: pointer;
    transform: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transform: 0.3s;
}
@media(max-width:760px){
    .contact{
        gap: 10px;
        margin: 0px 30px;
        align-items: start;
    }
    
    .contact-title h1{
        padding: 0;
        font-size: 60px;
        font-weight: 650;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 16px;
        line-height: 25px;
        
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #D8D8D8;
        font-size: 22px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit {
        font-size: 20px;
        padding: 10px 0px;
        width: 109px;
    }

}
